<li>
    <h3>{{burger_name}}</h3>

    <button class="btn btn-default change-devour" data-id="{{id}}" data-newdevoured="{{isDevoured}}">
        {{#if isDevoured}} Yummy! {{else}} Devour it! {{/if}}
    </button>
</li>