<div class="container content">
  <h1>Eat-da-Burger!</h1>

  <div class="content-burger">
    <ul id="not-devoured">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burger-block devour=false}}
      {{/unless}}
    {{/each}}
    </ul>

    <ul id="is-devoured">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burger-block devour=true}}
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  
  <h2>Make a Burger!</h2>
  <form>

    <div class="form-group">
      <input type="text" required placeholder="Add a Burger" id="bgr" name="name">
    </div>

    <button type="submit" class="btn btn-default">Add a Burger</button>
  </form>
</div>